.landing-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: "assets/landing/xyzuan-sign.png";
}

.landing-title {
  margin-top: -220px;
  display: flex;
  flex-direction: column;
  padding: 0 0 0 0;
  gap: 4rem;
}

.landing-title p {
  font-size: var(--big-font-size);
  font-weight: bold;
  line-height: 0%;
}

.landing-title p1 {
  font-size: var(--big-font-size);
  font-weight: 800;
}

.btn {
  align-items: flex-start;
  place-items: left;
}

.btn-cv {
  color: var(--primaryColor);
  background-color: black;
  font-size: var(--h2-font-size);
  font-weight: 500;
  padding: 24px 70px 24px 70px;
  margin: 32px;
  border-radius: var(--card-radius);
}

.btn-cv:hover {
  background-color: transparent;
  color: black;
  border-style: solid;
  border-width: medium;
  border-color: black;
  border-radius: var(--card-radius);
}

.btn-git {
  color: black;
  font-size: var(--h2-font-size);
  font-weight: 500;
  padding: 24px 70px 24px 70px;
  border-style: solid;
  border-width: medium;
  border-color: black;
  border-radius: var(--card-radius);
}

.btn-git:hover {
  color: var(--primaryColor);
  background-color: black;
  font-weight: 700;
}

.landing-img {
  display: flex;
  place-items: right;
}
