.nav-container {
  background-color: var(--primaryColor);
  clear: both;
  overflow: auto;
  position: sticky;
  top: 8px;
}

nav {
  float: right;
  padding: 12px 0 12px 0;
}

.nav-logo a {
  float: left;
  font-size: var(--h2-font-size);
  font-weight: bolder;
  padding: 12px 15px 12px 15px;
}

.nav-logo .active {
  border-radius: 8px;
  padding: 12px 28px 12px 28px;
}

.nav-logo .active a:hover {
  font-size: var(--h2-font-size);
  padding: 12px 28px 12px 28px;
  border-style: none;
}

.nav-logo a:hover {
  font-size: var(--h2-font-size);
  padding: 12px 28px 12px 28px;
  border-style: none;
}

.nav-list li {
  display: inline-block;
  padding: 0 15px 0 15px;
  font-size: var(--normal-font-size);
  font-weight: 500;
}

.nav-list a:hover {
  border-radius: var(--card-radius);
  border-style: solid;
  font-weight: 600;
  padding: 12px 28px 12px 28px;
}

.nav-items {
  color: black;
  text-decoration: none;
}

.nav-button {
  display: none;
}

.active {
  color: var(--primaryColor);
  background-color: black;
  border-radius: var(--card-radius);
  padding: 12px 28px 12px 28px;
}

.active:hover {
  border-style: none;
}

.nav-toggle {
  display: none;
 }

 .show-menu {
  opacity: 1;
  visibility: visible;
}

.main-blur {
  filter: blur(220px);
  background-color: rgba(0, 0, 0, 0.712);
}

/* Responsive */
@media (max-width: 600px) {
.nav-container {
  border-radius: var(--card-radius);
  background-color: transparent;
}

  .nav-menu {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
 }

 .nav-link::after {
    display: none;
 }

 .nav-logo .active {
  border-radius: var(--card-radius);
 }

 .nav-toggle {
  color: var(--primaryColor);
  border-radius: var(--card-radius);
  background-color: black;
  display: inherit;
  font-size: var(--h2-font-size);
  float: right;
  padding: 12px 15px 12px 15px;
 }
}