.navtop-container{
    background-color: var(--primaryColor);
    clear:both;
    overflow:auto;
    position: sticky;
    top: 0px;
}

nav {
    float: right;
    padding: 12px 0 12px 0;
}

.navtop-logo a{
    float: left;
    font-size: 42px;
    font-weight: bolder;
    padding: 0 15px 0 15px;
}

li{
    display: inline-block;
    padding: 0 15px 0 15px;
    font-size: 19px;
    font-weight: 500;
}

li.active {
    font-size: 19px;
    font-weight: 600;
    color: var(--primaryColor);
    background-color: black;
    border-radius: var(--card-radius);
    padding: 12px 28px 12px 28px;
}

li:hover {
    padding: 12px 28px 12px 28px;
}